version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: secure_auth_postgres
    restart: always
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Zeeshan123!
      POSTGRES_DB: SecureAuthSystem
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
